/* Allgemeine Stile */
.App {
  text-align: center;
  margin: 2rem;
  font-family: Arial, sans-serif;
  margin-bottom: 150px;  /* Unterer Rand für bessere Sichtbarkeit */
}

.App-header {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

/* Tabelle für das Schachbrett */
table {
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 0px; 
}

td {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  font-size: 1.5rem;
}

.w {
  background-color: #f0d9b5;
}

.b {
  background-color: #b58863;
}

.text {
  background-color: #ffffff;
}

/* Buttons und Eingabefelder */
button {
  padding: 10px 20px;
  font-size: 1rem;
  margin: 1rem;
  cursor: pointer;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
}

input {
  padding: 10px;
  font-size: 1rem;
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  font-size: 1.2rem;
  margin-right: 10px;
  color: #333;
}

/* Trennung von Create Game und Join Game */
label[for="boardSize"], input[id="boardSize"],
label[for="isComputerOpponent"], input[id="isComputerOpponent"],
button[id="createGame"] {
  display: inline-block;
  margin: 1rem;
}

label[for="GameId"], input[id="gameId"],
button[id="joinGame"] {
  display: inline-block;
  margin: 1rem;
  margin-top: 2rem;
}

.help {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 20%;
  text-align: center;
  background-color: #f9f9f9;
  padding: 1rem;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

/* Stile für Tablets */
@media (max-width: 768px) {
  .help {
    width: 40%;
  }
}

/* Stile für Smartphones */
@media (max-width: 480px) {
  .help {
    width: 100%;
    bottom: 0;
    right: 0;
  }

  .help h2, .help h3, .help p, .help ol li {
    font-size: 14px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  td {
    width: 35px;
    height: 35px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    font-size: 1.2rem;
  }

}

/* Footer */
.footer {
  background-color: #333;
  color: white;
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

/* Close-Button im Footer */
.close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.separator {
  border-top: 1px solid #ccc;
  margin: 2rem 0;
}

.reset-button {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1; /* Hinter dem Footer */
  padding: 10px;
  font-size: 12px;
  background-color: lightgray;
  color: white;
  border: none;
  border-radius: 4px;
}

.warning-box {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 2px solid red; /* Roter Rahmen */
  padding: 5px; /* Innenabstand für bessere Lesbarkeit */
}

/* Entfernt Aufzählungszeichen von ungeordneten Listen */
ul {
  list-style-type: none;
}